body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    margin-bottom: 15px;
}

.headeradmin {
    background-color: #333;
    color: #fff;
    padding: 15px;
}

.headeradmin h1 {
    margin: 0;
}

.menu {
    background-color: #4CAF50;
    padding: 10px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.menu a:hover {
    color: #ddd;
}
/* Danh mục */
.title-danhmuc h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frmcontent {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
}

.row label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.row input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.row input[type="submit"],
.row input[type="reset"],
.row a input[type="button"] {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
    margin: 5px;
}

.row input[type="submit"]:hover,
.row input[type="reset"]:hover,
.row a input[type="button"]:hover {
    background-color: #45a049;
}

.row p {
    color: red;
    margin-top: 10px;
}

